/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,
html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
	font-family: 'Avenir LT Std 95 Black';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 95 Black'), url('../fonts/avenir-lt-std/AvenirLTStd-Black.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 45 Book';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 45 Book'), url('../fonts/avenir-lt-std/AvenirLTStd-Book.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 85 Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 85 Heavy'), url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 35 Light';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 35 Light'), url('../fonts/avenir-lt-std/AvenirLTStd-Light.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 65 Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 65 Medium'), url('../fonts/avenir-lt-std/AvenirLTStd-Medium.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 55 Roman';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 55 Roman'), url('../fonts/avenir-lt-std/AvenirLTStd-Roman.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 95 Black Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 95 Black Oblique'), url('../fonts/avenir-lt-std/AvenirLTStd-BlackOblique.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 45 Book Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 45 Book Oblique'), url('../fonts/avenir-lt-std/AvenirLTStd-BookOblique.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 85 Heavy Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 85 Heavy Oblique'), url('../fonts/avenir-lt-std/AvenirLTStd-HeavyOblique.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 35 Light Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 35 Light Oblique'), url('../fonts/avenir-lt-std/AvenirLTStd-LightOblique.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 65 Medium Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 65 Medium Oblique'), url('../fonts/avenir-lt-std/AvenirLTStd-MediumOblique.woff') format('woff');
}


@font-face {
	font-family: 'Avenir LT Std 55 Oblique';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 55 Oblique'), url('../fonts/avenir-lt-std/AvenirLTStd-Oblique.woff') format('woff');
}


/* reset tailles typos */
html,
body {
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
	line-height: 1.4;
	font-family: "Tenor Sans", "Tenor Sans", "Arial", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}


b,
strong {
	/*font-weight:bold;*/
	font-family: 'Avenir LT Std 85 Heavy', "Arial", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

	/*font-weight:600;*/
}

a,
a:hover {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: super;
	font-size: smaller;
	line-height: normal;
	font-size: 0.6em;
}

i,
em {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Avenir LT Std 45 Book", "Tenor Sans", "Montserrat", "Arial", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 4.8rem;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
}

h1.hero-title {
	text-align: center;
}

h2 {
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 1.2;
	font-family: "Avenir LT Std 35 Light", sans-serif;
}

h2.section-title {
	font-size: 3.6rem;
	font-weight: 700;
}

h3 {
	font-family: 'Avenir LT Std 85 Heavy', sans-serif;
	font-size: 1.2rem;
	line-height: 1.3;
}

@media (min-width: 800px) {
	h1 {
		font-size: 7.2rem;
	}
}

@media (min-width: 1160px) {}

@media (min-width: 1650px) {}

@media (min-width: 1920px) {}